#main{
    width: 100%;
    background-color: black;
}


#fs{
    width:100%;
    height: 100%;
    background-color: white;
    position: absolute;
    
}

#cover{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: green;
}

#black{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: black;
}

.parent{
    display: block;
    overflow: hidden;
    background-color: red;
    

}

.child{
    display: block;
    transform: translate(0, 100%);
    color: white;
}